<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/public/css/all-stores.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/public/js/leaflet.js"></script>
  <script src="/public/js/index.js"></script>
  <script>const stores = {{{ json stores }}};</script>
</head>
<main class="main" id="all-stores-container">
  <h1>{{title}}</h1>
  {{#if errors}}
  <div class="error-messages">
    {{#each errors}}
    <div class="error-message font-italic">{{this}}</div>
    {{/each}}
  </div>
  {{/if}}
  {{#if user}}
  {{#if (eq user.role "admin")}}
  <button class="add-store">
    Add Store
  </button>
  {{/if}}
  {{/if}}
  <div class="content-container">
    <div class="store-cards">
      {{#each stores}}
      <div class="store-card">
          <div class="store-info">
        <h2>{{this.name}}</h2>
        <p><b>Address:</b> {{this.location.address}}</p>
        <p><b>Phone:</b> {{this.phone}}</p>
          </div>
        <button class="view-store-button" data-store-id="{{this._id}}">
          View Store
        </button>
        {{!-- <p><b>Manager ID:</b> {{this.storeManager}}</p> --}}
      </div>
      {{/each}}
    </div>

    <!-- Map Section -->
    <div id="map-container">
      <div id="map"></div>
    </div>
  </div>
</main>