<main class="main" id="store-container">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/public/css/store.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script>const stores = [{{{ json store }}}];</script>

  <h1>{{store.name}}</h1>
  {{#if user}}
  {{#if (eq user.role "admin")}}
  <div class="admin-buttons">
    <button class="edit-store">Edit Store</button>
    <button class="save-changes">Save Changes</button>
    <button class="cancel-edit">Cancel</button>
    <button class="del-store">Delete Store</button>
  </div>
  {{/if}}
  {{/if}}
  <div class="content-container">
    <div class="store-details-container">
      <form class="store-info" id="store-info-form">
        <input type="hidden" id="store-id" value="{{store._id}}" />
        <p id="store-name-label" style="display: none;">
          <b>Store Name:</b>
        </p>
        <h2>
          <span id="store-name">{{store.name}}</span>
          <input id="store-name-input" type="text" value="{{store.name}}"/>
        </h2>
        <p>
          <b>Address:</b>
          <span id="store-address">{{store.location.address}}</span>
          <input id="store-address-input" type="text" value="{{store.location.address}}"/>
        </p>
        <p>
          <b>Phone:</b>
          <span id="store-phone">{{store.phone}}</span>
          <input id="store-phone-input" type="text" value="{{store.phone}}" />
        </p>

         <div id="error-messages"  style="display: none;">
          <div id="error-container" class="error-container">
            {{#if errors}}
              {{#each errors}}
                {{this}}
              {{/each}}
            {{/if}}
          </div>
        </div>

      </form>

      {{#if (eq user.role "customer")}}
      <a href="/dashboard" class="place-service-request-button" >Place a Service Request</a>
      {{/if}}
    </div>

      <div id="map-container">
        <div id="map"></div>
      </div>
  </div>
  <div class="reviews-container">
    <h2>Customer Reviews</h2>
    <p><b>Average Rating:</b>
      {{#if totalRatings}}
      {{totalRatings}}/ 5
      {{else}}
      N/A
      {{/if}}
    </p>
    {{#if customerReviews}}
    <ul class="reviews-list">
      {{#each customerReviews}}
      <li>
        <p><b>{{customerName}}</b>: <i>{{comment}}</i></p>
        <p>Rating: {{rating}} / 5</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No reviews available for this store.</p>
    {{/if}}
  </div>
  <script src="/public/js/leaflet.js"></script>
  <script src="/public/js/form_validate.js"></script>
  <script src="/public/js/index.js"></script>
</main>